.location {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__objects {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}
