@import '/src/styles/index';

.gameMenu {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 4px;

  &__list {
    display: flex;
    border-radius: $border-radius;
    background-color: $bg-main;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
  }

  &__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    border: none;
    padding: 5px;
    width: 100%;
    background-color: inherit;
  }

  &__img {
    width: 32px;
    height: 32px;
  }

  &__name {
    font-size: 12px;
  }
}
