.appearance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;

  &__img {
    position: relative;
    background-color: gray;
  }

  &__hair {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: 0 auto;
    width: 30%;
  }

  &__fractionImg {
    width: 100%;
    height: 100%;
  }

  &__settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
  }

  &__selectors {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
